{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>
<p>Added by {{ item.created_by.username }}</p>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>


<h2>Edit Item</h2>

<form method="POST" action="{{ url_for('main.item_detail', item_id=item.id) }}">
    {% include 'partials/item_form.html' %}
</form>

{% endblock %}